#teccc_options {
	padding-top: 1em;
	clear: both;
}
.teccc_options_col1 {
	float: left;
	position: relative;
	width: 160px;
	padding-left: 10px;
	clear: left;
}
.teccc_options_col2, .teccc_options_col2 p {
	width: 80%;
}
.teccc_options_col2 {
	padding-left: 205px;
	padding-bottom: 15px;
}
.teccc_options_col2 p, table.teccc td p {
	color: #666;
	margin-left: 1em;
}

table.teccc.form-table {
	margin: 0;
	padding-left: var(--tec-spacer-settings-form-right-gap);
}

table.teccc.form-table td {
	vertical-align: middle;
}
table.teccc.form-table td:nth-child(5) {
    vertical-align: bottom;
}

table.teccc.form-table th {
	font-weight: var(--tec-font-weight-bold);
	font-size: var(--tec-font-size-1);
	text-align: center;
}

.tribe_events_page_tec-events-settings #tec-settings-form table.teccc.form-table .tribe-field-label {
	display: inline-block;
	font-weight: var(--tec-font-weight-regular);
}

.tribe_events_page_tec-events-settings #tec-settings-form table.teccc.form-table .tribe-field-wrap {
	display: inline-block;
}
.tribe_events_page_tec-events-settings #tec-settings-form table.teccc.form-table .tooltip {
	text-wrap: nowrap;
}

.tribe_events_page_tec-events-settings #tec-settings-form table.teccc.form-table .color-selector .tooltip {
	display: none;
}

.tribe_events_page_tec-events-settings #tec-settings-form table.teccc.form-table #tribe-field-featured-event .tooltip {
	display: block;
}

.tribe_events_page_tec-events-settings #tec-settings-form table.teccc.form-table fieldset {
	margin-left: 0;
}

.tribe_events_page_tec-events-settings #tec-settings-form table.teccc.form-table .tribe-field-checkbox_bool input[type="checkbox"] {
	margin-top: 0;
	vertical-align: text-bottom;
}

.tribe_events_page_tec-events-settings #tec-settings-form table.teccc.form-table .tribe-field-checkbox_bool .tribe-field-wrap {
	margin-bottom: var(--tec-spacer-2);
}

.tribe_events_page_tec-events-settings #tec-settings-form table.teccc.form-table td:first-child .tribe-field-checkbox_bool .tribe-field-wrap {
	margin-bottom: 0;
}

.tribe_events_page_tec-events-settings #tec-settings-form table.teccc.form-table td:first-child .tooltip {
	display: none;
}

.tribe_events_page_tec-events-settings #tec-settings-form table.teccc.form-table fieldset[id$="_text"] .tooltip {
	display: none;
}

// .tribe_events_page_tec-events-settings #tec-settings-form table.teccc.form-table .color-selector:not['#tribe-field-featured-event'] .tooltip {

@media screen and (min-width: 1024px) {
	table.teccc.form-table {
		margin-left: var(--tec-spacer-7);
	}
}
