* text=auto

.gitattributes export-ignore
.gitignore export-ignore
composer.json export-ignore

/vendor/wp-update-php/spec export-ignore
/vendor/wp-update-php/composer.json export-ignore
/vendor/wp-update-php/.gitignore export-ignore
