#console {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 32px;
	font-family: monospace;
	font-size: 1.5em;
	line-height: 32px;
	text-align: center;
	background: black;
	color: white;
	z-index: 100;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;
	opacity: 0;
}

#console.busy {
	opacity: .85;
}
