#teccc_options {
	padding-top: 1em;
	clear: both;
}
.teccc_options_col1 {
	float: left;
	position: relative;
	width: 160px;
	padding-left: 10px;
	clear: left;
}
.teccc_options_col2, .teccc_options_col2 p {
	width: 80%;
}
.teccc_options_col2 {
	padding-left: 205px;
	padding-bottom: 15px;
}
.teccc_options_col2 p {
	color: #666;
	margin-left: 1em;
}

table.teccc.form-table td {
	vertical-align: top;
}