.ui-slider-vertical {
	height: 75px !important;
	width: auto !important;
}

.iris-picker .iris-slider-offset {
	opacity: .5;
	top: 0 !important;
}

.iris-picker .iris-strip .ui-slider-handle {
	opacity: .9 !important;
}

.iris-strip .ui-slider-handle:before { border: 2px solid #000 !important; }